@{
    ViewBag.Title = "Registry and Funding";
}

@section scripts{
    <style>
        #header {
            background-position: 50% 0%;
        }
    </style>
}

<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2 class="margin-bottom-20">Registries and Funding</h2>
                <div class="row">
                    <div class="col-md-12 margin-bottom-10 animate fadeInRight">
                        <h4>
                            <em>Wedding Funding</em>
                        </h4>
                        <p>
                            We certainly aren't shooting for the moon of fairy tale weadings, but it's still an expensive endeavor. For the most part, we have all the gift type things one would usually ask for, so if you feel you would like to give we would appreciate if you would do so in the form of helping to fund our wedding. Give whatever you would like if would like to do so. You can find more information on how below.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 animate fadeIn">
                        <!-- My Skills -->
                        <h3 class="margin-bottom-10">Our Progress</h3>
                        <h3 class="progress-label">
                            <span class="pull-right">80%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            </div>
                        </div>
                        <!-- End My Skills -->
                    </div>
                    <div class="col-md-6">
                        <!-- Accordion -->
                        <div id="accordion" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="#collapse-One" data-parent="#accordion" data-toggle="collapse">
                                            Donate via Paypal
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-One" class="accordion-body collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>Why PayPal and not something like GoFundMe or HoneyFund? Well nothing is for free, and PayPall asks for the least amount of your donation in fees for their service. You can click the Donate button below to redirect to PayPal's secure page.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-6">
                                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                    <input type="hidden" name="cmd" value="_s-xclick">
                                                    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHZwYJKoZIhvcNAQcEoIIHWDCCB1QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBwifku2R6Tv1rUVK3mB8sv9kk4KzpTGI9jiZykQj5S2haXItl9Lgq+DctzyF0ilkGPVjZKG4r4vBJape93ohc38XOyhMpgwP5IgfUDBAOoWGbnrhoJXFwXE0GhDtLMXf1JvRVjQ+9JocGxQxENpX1KH3xzoOIqeT4ORCjTiV/NeTELMAkGBSsOAwIaBQAwgeQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIe2hifX+yhVOAgcCo4fPMPEfgeN+LXbAibu7M7nE/SpEnqxWrA5IfPImcrleAAkD2M1h99RbmyraSqa5uQBEmqwSqH7NRk0CbRl5qCsDNGplINWT+rfmrWZ/gG8Z3574z4fQc/4jdIqA0UYHy6SaESYrwdNfXZIIO9YMcjYdIUxEZdqlZhGy+JlHVOlnjpupxzmGC7r1NlnqEOXRxunyTcv1lZn1zpmzkWwWw1jTjyfyxkqZFtHpCGPTxFeehXf/gdnw725RHWhDoh4KgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTA4MDcwMjQ2NTdaMCMGCSqGSIb3DQEJBDEWBBTgRIgVfoRMRQb+lJPF8qtFqa9jKjANBgkqhkiG9w0BAQEFAASBgDWubqGZF491d2S57UxV6VVCmECZv5WB8AdsdbIKi3rZPSYGPcNzypIUg18Wjx4MxFqghta0pBF3JID5kBb8mZkvk9pjsgYxwG2SFJsnjSIRgtziVZowAxzscymEeNwkyzRpD3HFhBlSKSmZ2XQgJHfONvVh+xESj+6Q1L4B01BF-----END PKCS7-----
">
                                                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Accordion -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 margin-bottom-10 animate fadeInLeft">
                        <h4>
                            <em>Our Registries</em>
                        </h4>
                        <p>
                            For the most part we have all the things one would typically register for. You can keep checking here though, and we'll update if we do register somewhere. If you still want to give, we could always use help paying for the wedding, and you can keep reading below for more information.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Accordion -->
                        <div id="registries-accordian" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="#collapse-bbb-registry" data-parent="#registries-accordian" data-toggle="collapse">
                                            Bed Bath and Beyond
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-bbb-registry" class="accordion-body collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-6">
                                                <span>You can view our Bed Bath and Beyond registry at this <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543116119&pwsurl=" style="color:#0066FF">link</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="#collapse-bb-registry" data-parent="#registries-accordian" data-toggle="collapse">
                                            Best Buy
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-bb-registry" class="accordion-body collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-6">
                                                <span>You can view our Best Buy registry at this <a href="https://www-ssl.bestbuy.com/profile/list/viewlist?listId=v0y9e0AsGFUgHJ9Xo2BLl7WZxfkMiYJvJlm9BZI44q6si8DFPN%252BDR6h8nliBudGGiAzG4p8pBbrj0JSIVGdPlCp8BGsBLFjuj%252F6tiBTAAF9QJzIXLpXocV3SlrjEq%252FBMMO7oTA3wWTUz7Qb7wjftHp%252Bai1rTq13NhEV3GT0D3KKEeVytoti9mSwadtHktaKTiQ5tGc4XCggL7KvC%252BMfeIOTU33ornfiFqSnaRKQi1okeybN%252Ba7fjOxwzR%252Bul7dGspKFFTsCxY4q4%252FGozaQKx11Rm%252BhnwqEsGecH5cskhUY11nHAXqh7xrnb9r2T%252Be2ZUyEkrZI5MU%252B37WMMKRqbT8Y2cBL0iNYR%252B6SixeFfNNCw%253D" style="color:#0066FF">link</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Accordion -->
                    </div>
                </div>
                <hr>
                <div class="row animate fadeInUp">
                    <h2 class="text-center margin-top-10">Whoever said only two things in life are certain was wrong...</h2>
                    <p class="text-center margin-bottom-30">There's three: death, taxes, and weddings are expensive.</p>
                </div>
                <hr class="margin-bottom-40">
            </div>
        </div>
    </div>
</div>
<!-- === END CONTENT === -->